.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
}
.circle-bg {
    stroke: #eee;
}
.circle {
    transition: stroke-dasharray 0.6s ease;
    transform: rotate(-90deg);
    transform-origin: center;
}
.percentage {
    dominant-baseline: middle;
}
@media (min-width: 992px) {
    .project-main-info {
        border-right: 1px solid #eee;
    }
}